div {  
	background-color: white;
	width:200px;
    height: 200px;
  

 }
 .uno{ 
 	background-color: yellow;
 	position:static;
 	left:0px;
 	top: 0px;
 

 	
 	
 }
 .dos{background-color: blue;
 	right: 0px;
 	top: 0px;
	position: static;
 	
 

 }

.tres{background-color: pink;
	position: static;
	left:0px;
	bottom: 0px;

}
.cuatro{ 
	background-color: green;
	position:absolute;
	left: 200px;
	
	
}
body{ margin: 0px;
	padding: 0px;
	 background-image: url(http://previews.123rf.com/images/elenasz/elenasz1206/elenasz120600023/14150928-Fondo-con-motivos-tnicos-Patr-n-sin-fisuras-Foto-de-archivo.jpg);}

